<!DOCTYPE html>
<html ng-app="stApp">
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    
    <div class="container" ng-controller="stController">
        <div class="row">
        <div class="col-md-12">
        <h1>Angular - ng-repeat with select!</h1>

          <form class="form-horizontal">
            <fieldset>

            <!-- Form Name -->
            <legend>Form Name</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Enter your age</label>  
              <div class="col-md-4">
              <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md" ng-model="age">
              <span class="help-block">Guess your grandfather's age</span>  
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" for="textcity">City</label>  
              <div class="col-md-4">
              <select ng-model="filterCity.myCity">
                <option ng-repeat="city in cities" title="{{city.displayName}}" ng-selected="{{city.value == filterCity.myCity}}" value="{{city.value}}">{{city.displayName}}</option>
              </select>
              <span class="help-block">Select city</span>  
              </div>
            </div>
            </fieldset>
            </form>
            <div class="update-nag">
                <div class="update-split update-success"><i class="glyphicon glyphicon-leaf"></i></div>
                <div class="update-text"><p>Grandfather age is {{ age * 4 }}</p></div>
            </div>
            <div class="update-nag">
              <div class="update-split update-danger"><i class="glyphicon glyphicon-warning-sign"></i></div>
              <div class="update-text"><p>Selected city {{ filterCity.myCity }}</p></div>
            </div>            
        </div>
        </div>
    </div> 
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>    
    <script type="text/javascript">
      var myApp = angular.module("stApp", []);
        myApp.controller("stController", function($scope){
        $scope.age = 0;
        $scope.filterCity={
            myCity: 'TO'
        }        
        $scope.cities = [
          {value: 'NY', displayName: 'New York'},
          {value: 'LO', displayName: 'London'},
          {value: 'TO', displayName: 'Toronto'}
        ]        
      });
    </script>    
  </body>
</html>