<!DOCTYPE html>
<html ng-app="stApp">
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
		<div class="container" ng-controller="stController">
	        <div class="row">
		        <div class="col-md-12">
		        <h1>Angular - ngSubmit directive!</h1>

						<div class="well">
							<table class="table">
							  <thead>
								<tr>
								  <th>#</th>
								  <th>Movie Name</th>
								  <th>Release Year</th>
								  <th>Vote</th>
								  <th style="width: 36px;"></th>
								</tr>
							  </thead>
							  <tbody>
								<tr ng-repeat="x in movies">
								  <td>{{$index + 1 }}</td>
								  <td>{{x.name}}</td>
								  <td>{{x.year}}</td>
								  <td>{{x.vote}}</td>
								  <td>
									  <a href="user.html"><i class="icon-pencil"></i></a>
									  <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
								  </td>
								</tr>
							  </tbody>
							</table>
						</div>
				</div>
		        <div class="col-md-12">

						<div class="modal-body">

							<form class="form-horizontal" data-ng-submit="addMovie()">
				            <fieldset>

				            <!-- Form Name -->
				            <legend>Movie Entry Form</legend>

				            <!-- Text input-->
				            <div class="form-group">
				              <label class="col-md-4 control-label" for="moviename">Movie name</label>  
				              <div class="col-md-4">
				              <input type="text" class="form-control" placeholder="Movie name" ng-model="name" name="moviename"> 
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label" for="movieyear">Movie year</label>  
				              <div class="col-md-4">
				              <input type="text" class="form-control" placeholder="Movie year" ng-model="year" name="movieyear"> 
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label" for="movievote">Vote</label>  
				              <div class="col-md-4">
				              <input type="number" class="form-control" placeholder="Vote" ng-model="vote" name="movievote"> 
				              </div>
				            </div>  
				            <div class="form-group">
								<div class="col-md-4 col-md-push-4 btn-toolbar">
									<input type="submit" class="btn btn-primary" value="Add movie">
								</div>
				            </div> 		                      
				            </fieldset>
				            </form>

						</div> <!-- /.modal-body -->
						
				</div>
			
			</div> <!-- /.row -->

		</div>
	

		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>	
		<script type="text/javascript">
			var myApp = angular.module("stApp", []);
			myApp.controller("stController", function($scope){
				$scope.movies = [{name:"Mission Impossible", year:2015, vote:10},
								 {name:"Interstellar", year:2014, vote:5},
								 {name:"Gravity", year:2013, vote:8}
								];
				$scope.addMovie = function(){ 
					$scope.movies.push({name: $scope.name, 
										year: $scope.year, 
										vote: $scope.vote});
				};
			});
		</script>
  </body>
</html>